.banner {
  margin-left: -100vw;
  margin-right: -100vw;
  padding: ($spacer * 2) 100vw;
}

.banner-light {
  background: $gray-200;
}

.banner-sm {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.banner-lg {
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;
}