$blog-width: 780px;

@mixin blog-bold {
  font-family: $font-family-base;
  font-weight: bold;
}

body.blog {
  background: $white;

  .secondary-page-section {
    background: $gray-100;
    border-top: 2px solid $gray-200;
    padding-top: $spacer * 2.5;
    padding-bottom: $spacer * 0.5;
    @include remove-gutter();
  }

  .banner-light {
    border-top: 2px solid mix($gray-300, $gray-200, 50%);
  }  
}

.blog-post {
  font-size: $font-size-larger;
  line-height: 1.5;
  font-family: $font-family-copy;
  font-weight: $font-weight-copy;

  .blog-header {
    background: $gray-100;
    @include remove-gutter();
  }

  /**
   * Meta data
   */
  .blog-meta {
    display: flex;

    > div {
      padding: ($spacer * 1.75) ($spacer * 0.5);
    }

    .blog-badges {
      .badge {
        font-size: 100%;
        font-family: $font-family-base;
        font-weight: bold;
      }
    }

    .blog-date {
      flex: 1;
    }
  }

  /**
   * Title
   */
  .blog-title {
    text-align: center;
    margin-bottom: $spacer * 2;
    @include center-content($blog-width - 20px);
  }

  /**
   * Intro
   */
  .blog-intro {
    text-align: center;
    @include blog-bold();
    @include center-content($blog-width - 20px);
    margin-bottom: $spacer * 4;
  }

  /**
   * Main photo
   */
  .blog-photo {
    margin-bottom: $spacer * 2;

    .photo-wrapper {
      height: 500px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .photo-caption {
      display: block;
      text-align: right;
      padding: $spacer ($spacer * 2);
      font-size: $font-size-sm;
      background: $white;
    }
  }

  /**
   * Lead
   */
  .blog-lead {
    @include blog-bold();
    @include center-content($blog-width - 120px);
    margin-bottom: $spacer * 3;
  }

  /**
   * Main body copy
   */
  .blog-body {
    @include center-content($blog-width);

    p {
      max-width: none;
      margin-bottom: $spacer * 2;
    }

    strong {
      @include blog-bold();
    }
  
    .blog-highlights {
      margin-left: $spacer * 2;
      margin-top: $spacer * 2.5;
      margin-bottom: $spacer * 3;
  
      .h4 {
        @include blog-bold();
        text-transform: none;
        margin-bottom: $spacer * 1.5;
      }
  
      ul {
        column-width: 100px;
  
        li {
          margin-left: $spacer * 0.75;
        }
      }
    }

    .embed-responsive {
      margin-bottom: $spacer * 2;
    }
  }

  /**
   * Footer
   */
  .blog-footer {
    @include center-content($blog-width);

    /**
     * Blog tags/categories
     */
    .blog-tags ul {
      font-size: $font-size-base;
      list-style: none;
      padding: 0;
      margin-top: -$spacer;
      margin-bottom: $spacer * 2;

      li {
        display: inline-block;
        padding: ($spacer * 0.25) ($spacer * 0.75);
        margin-right: $spacer * 0.5;
        background: $gray-200;
        color: $gray-800;
      }
    }

    /**
     * Blog stats and actions
     */
    .content-metadata {
      margin-top: $spacer * 3;
      margin-bottom: $spacer * 3;
    }
  }
}

/**
 * Comments section
 */
.blog-post-comments {
  @include center-content($blog-width);

  .h3 {
    margin-bottom: $spacer * 2.5;
  }

  .blog-author-teaser {
    margin-bottom: $spacer;
  }
}

/**
 * Related posts section
 */
.blog-post-related {
  @include center-content($blog-width);

  .h3 {
    margin-bottom: $spacer * 1.5;
  }
}