.btn {
  font-weight: $btn-font-weight;
}

.btn-light {
  color: $primary;
}

.btn-white {
  color: $primary;
  background: $white;

  &:focus,
  &:hover {
    background-color: $link-hover-color;
  }
}

.btn-primary {
  &:focus,
  &:hover {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

.btn-link.btn-sm.btn-clear {
  background: url("~images/icons/icons-close-small-red.png") no-repeat scroll 0 50% transparent;
  padding-left: $spacer * 1.1;
}

.btn-add-to-wishlist {
  font-weight: normal;
  background: url("~images/icons/icons-heart-red.png") no-repeat scroll 0 50% transparent;
  padding-left: $spacer * 1.5;
  padding-right: 0;

  &:hover,
  &:focus {
    box-shadow: none;
    text-decoration: underline;
  }
}

.btn-xl {
  font-size: 1rem;
  padding: $spacer ($spacer * 3);
}