ul.color-options {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;

  .color-option {
    display: block;
    background: $gray-300;
    width: 1rem * (14 / 16);
    height: 1rem * (14/ 16);
    overflow: hidden;
    text-indent: 100%;
    border-radius: 50%;
    margin: 0 6px;
    border: 3px solid transparent;

    &.blue {
      background-color: $blue;
    }

    &.teal {
      background-color: $teal;
    }

    &.pink {
      background-color: $pink;
    }

    &.orange {
      background-color: $orange;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.green {
      background-color: $green;
    }

    &.purple {
      background-color: $purple;
    }
  }

  a.color-option {
    transition: transform 0.08s ease;

    &.selected,
    &:hover {
      transform: scale(1.25);
    }

    &.selected {
      border-color: $gray-700;
    }
  }
}