.comment {
  display: flex;
  margin-bottom: $spacer * 2.5;

  .user-image {
    padding-right: $spacer * 1.5;
  }

  .comment-details {
    flex: 1;
    font-family: $font-family-copy;
    font-weight: $font-weight-copy;

    .user-name {
      font-weight: bold;
      font-size: $font-size-larger;
      margin-bottom: $spacer * 0.5;
    }

    .user-name + .comment-time {
      margin-top: -$spacer * 0.5;
      margin-bottom: $spacer * 0.5;
    }

    .comment-time {
      font-size: 1rem * (12 / 16);
      color: $gray-600;
    }
  }
}