#footer {
  padding: ($spacer * 3) $spacer ($spacer * 2);
  z-index: -2;

  &.footer-standard {
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
  
    ul.department-links {
      font-size: $font-size-larger * (24 / 16);
      line-height: 1.5;
      font-weight: bolder;

      > li {
        width: 100%;
      }
  
      a {
        color: $body-color;
        display: inline-block;
        padding: 0 ($spacer * 1.5);
        margin: 0 ($spacer * 1.5);
        text-decoration: none;
  
        &:focus,
        &:hover {
          color: $link-hover-color;
        }
      }
    }

    &.bg-dark ul.department-links a {
      color: $white;
      transition: color 0.25s ease;

      &:focus,
      &:hover {
        color: $primary;
      }
    }
  
    ul.social-links {
      margin: ($spacer * 1.5) 0;
  
      a {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: no-repeat scroll 0 0 transparent;
        margin: 0 ($spacer * 0.5);
        text-indent: 40px;
        border: 4px solid transparent;
        position: relative;
        font-size: 0;
        color: transparent;

        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 1px;
          top: 0;
          transform: scale(0.9);
          border-radius: 50%;
          transition: 0.25s ease;
        }

        &:hover::before {
          background: $primary;
          transform: scale(1.2);
        }

  
        &.instagram {
          background-image: url("~images/icons/icons-instagram-black.png");
        }
  
        &.pinterest {
          background-image: url("~images/icons/icons-pinterest-black.png");
        }
  
        &.twitter {
          background-image: url("~images/icons/icons-twitter-black.png");
        }
  
        &.facebook {
          background-image: url("~images/icons/icons-facebook-black.png");
        }
      }
    }
  
    ul.small-print {
      li:not(:first-child)::before {
        display: inline-block;
        content: "•";
        margin: 0 0.25em;
      }
  
      a,
      span,
      li::before {
        color: $gray-600;
      }
    }
  }

  &.footer-dense {
    ul.links {
      list-style: none;
      padding: 0;
  
      a {
        color: $body-color;
  
        &:hover,
        &:focus {
          color: $link-hover-color;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.footer-standard {
      ul.department-links {
        li {
          width: auto;
        }
      }
    }
  }
}