.text-center .form-inline {
  justify-content: center;
}

input[type="email"] {
  padding-left: 2.5rem;
  background: url("~images/icons/icons-email-black.png") no-repeat scroll 0.75rem 50% $input-bg;
}

.custom-control-label {
  cursor: pointer;
}

textarea.form-control {
  border-radius: 5px;

  &::placeholder {
    font-size: $font-size-sm;
  }
}

.form-group {
  label {
    font-weight: bolder;
  }
}

.form-group {
  .help-text:last-child {
    margin-bottom: 0;
  }
}

.form-control + .help-text {
  margin-top: $spacer * 0.25;
}