.text-center .form-inline {
  justify-content: center;
}

input[type="email"] {
  padding-left: 2.5rem;
  background: url("~images/icons/icons-email-black.png") no-repeat scroll 0.75rem 50% $input-bg;
}