.navbar-brand {
  font-weight: bolder;
  letter-spacing: 1rem * 0.25;
}

.navbar .nav-link {
  font-weight: bolder;
}

.navbar {
  input[type="search"] {
    border-radius: 100rem;
    // width: 1rem;
    border: 0 none;
    background: url("~images/icons/icons-search-black.png");
  }

  &.navbar-dark input[type="search"] {
    border: 0 none;
  }
}