
/**
 * General navbar styles.
 */
.navbar {
  .nav-link {
    font-weight: bolder;
  }
}

/**
 * Navbar branding area.
 */
.navbar-brand {
  font-weight: bolder;
  letter-spacing: 1rem * 0.25;
}

/**
 * Navbar search box.
 */
.navbar #search-input {
  border-color: transparent;
  background: url("~images/icons/icons-search-black.png") 0.5rem 50% no-repeat scroll transparent;
  padding-left: 1.5rem;
  overflow: hidden;
  width: 0;
  cursor: pointer;
  transition: width 0.2s ease;
  margin-right: $spacer;

  + #search-reset {
    display: none;
    margin-left: -3rem;
    background: url("~images/icons/icons-close-small-black.png") 50% 50% no-repeat scroll transparent;
    min-height: $input-height-sm;
    opacity: 0.8;
  }

  &:focus {
    width: 16rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    border-color: $input-border-color;
    background-position-x: 0.75rem;
    cursor: auto;

    + #search-reset {
      display: block;

      &:focus,
      &:hover {
        box-shadow: none;
        opacity: 1;
      }
    }
  }
}

.navbar-dark #search-input {
  border: 0 none;
  background-image: url("~images/icons/icons-search-white.png");
  color: $white;

  + #search-reset {
    background-image: url("~images/icons/icons-close-small-white.png");
  }

  &::placeholder {
    color: $white;
    opacity: 0.7;
  }

  &:focus {
    background-color: $gray-500;
    background-color: rgba($white, 0.5);
  }
}

/**
 * Navbar cart link.
 */
.navbar .cart-link {
  position: relative;
  display: block;
  background: url("~images/icons/icons-bag.png") 50% 50% no-repeat scroll transparent;
  width: 2rem;
  height: 2rem;

  .cart-item-count {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    background: $primary;
    color: $white;
    font-weight: bolder;
    border-radius: 50%;
    text-align: center;
    line-height: 1.25rem;
  }
}

.navbar-dark .cart-link {
  background-image: url("~images/icons/icons-bag-white.png");

  .cart-item-count {
    background: $white;
    color: $primary;
  }
}