
/**
 * General navbar styles.
 */
.navbar {
  .nav-link {
    transition: color 0.25s ease;
    font-weight: bolder;
  }

  > .container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  button.navbar-toggler {
    margin-right: -$spacer * 0.75;

    &:focus {
      outline: none;
    }

    &:not(.collapsed) {
      .navbar-toggler-icon {
        background-image: url("~images/icons/close-big-red.png");
        background-size: auto;
      }
    }
  }

  .navbar-collapse {
    padding-bottom: $spacer;

    .navbar-nav {
      margin-top: $spacer;
      margin-bottom: $spacer;

      .nav-link {
        font-size: $font-size-lg;
        text-align: center;
      }
    }

    .navbar-actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar-collapse {
      padding-bottom: 0;

      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: $spacer * 2;

        .nav-link {
          font-size: $font-size-base;
          text-align: left;
        }
      }

      .navbar-actions {
        position: absolute;
        right: 0;
        justify-content: flex-end;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        padding-right: $spacer * 1.25;
        padding-left: $spacer * 1.25;
      }
    }
  }
}

/**
 * Navbar branding area.
 */
.navbar-brand {
  font-weight: bolder;
  letter-spacing: 1rem * 0.25;
  margin-right: 0;
  transition: color 0.25s ease;
}

/**
 * Navbar search box.
 */
.navbar #search-input {
  border-color: transparent;
  background: url("~images/icons/icons-search-black.png") 0.5rem 50% no-repeat scroll transparent;
  padding-left: 1.5rem;
  overflow: hidden;
  width: 0;
  cursor: pointer;
  transition: width 0.2s ease;
  margin-right: $spacer;

  + #search-reset {
    display: none;
    margin-left: -3rem;
    background: url("~images/icons/icons-close-small-black.png") 50% 50% no-repeat scroll transparent;
    min-height: $input-height-sm;
    opacity: 0.8;
  }

  &:focus {
    width: 16rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    border-color: $input-border-color;
    background-position-x: 0.75rem;
    cursor: auto;

    + #search-reset {
      display: block;

      &:focus,
      &:hover {
        box-shadow: none;
        opacity: 1;
      }
    }
  }
}

.navbar-dark #search-input {
  border: 0 none;
  background-image: url("~images/icons/icons-search-white.png");
  color: $white;

  + #search-reset {
    background-image: url("~images/icons/icons-close-small-white.png");
  }

  &::placeholder {
    color: $white;
    opacity: 0.7;
  }

  &:focus {
    background-color: $gray-500;
    background-color: rgba($white, 0.5);
  }
}

/**
 * Navbar cart link.
 */
.navbar .cart-link {
  position: relative;
  display: inline-block;
  background: url("~images/icons/icons-bag.png") 0 50% no-repeat scroll transparent;
  text-decoration: none;
  padding-left: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: -$spacer;
  top: $spacer / -4;

  .cart-item-count {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: -0.25rem;
    left: 0.5rem;
    background: $primary;
    color: $white;
    font-weight: bolder;
    border-radius: 50%;
    text-align: center;
    line-height: 1.25rem;
  }

  .cart-total {
    color: $body-color;
    transition: 0.25s ease;
  }

  &:focus,
  &:hover {
    .cart-total {
      color: $primary;
    }
  }
}

.navbar-dark .cart-link {
  background-image: url("~images/icons/icons-bag-white.png");

  .cart-item-count {
    background: $white;
    color: $primary;
  }
}