.product-spotlight {
  background: $white;
  align-items: center;

  .product-image {
    text-align: center;
    position: relative;

    .badge-sale {
      font-size: 1rem;
      position: absolute;
      top: $spacer;
      left: $spacer;
    }
  }

  .product-details {
    padding: $spacer * 2;
  }
}