.product-spotlight {
  text-align: center;
  align-items: center;

  .product-image {
    text-align: center;
    position: relative;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;

    .badge-sale {
      font-size: $font-size-larger;
      position: absolute;
      top: $spacer;
      left: $spacer;
    }
  }

  .product-details {
    padding: ($spacer * 2) $spacer;
  }

  @include media-breakpoint-up(md) {
   text-align: left; 
  }
}