.product-grid {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: 1fr;
  margin-bottom: $spacer;

  > div {
    background: $white;
    padding: ($spacer * 1.5) $spacer;
    box-shadow: $box-shadow-sm;
  }

  .product-grid-filters {
    padding: $spacer;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;    

    > .filter-summary,
    > .field {
      margin-bottom: $spacer * 1.5;
    }

    .filter-summary {
      .text-summary {
        font-size: $font-size-larger;
        font-weight: bolder;
        margin-bottom: $spacer * 0.5;
      }

      .active-filters {
        font-size: $font-size-larger * (12 / 16);
        @include list-style-none();
        padding: 0;
        margin-bottom: 0;

        li {
          display: flex;
          margin: 0;
          align-items: center;

          &:last-child {
            margin-bottom: 0;
          }

          a.remove-filter {
            color: $body-color;
            padding-left: $spacer * ((20 / 16) + 0.1);
            padding-right: $spacer / 2;
            margin-left: -0.1rem;
            margin-bottom: $spacer * 0.25;
            border-radius: 10rem;
            background: url("~images/icons/icons-close-small-black.png") no-repeat scroll 0.1rem 50% transparent;

            &:hover {
              background-color: $gray-200;
            }
          }
        }
      }
    }

    .brand-filter {
      flex: 1;

      .brand-options {
        overflow: auto;
        max-height: 12em;
        padding-left: 3px;
        padding-right: 13px;
        margin-left: -3px;
        margin-right: -3px;

        .custom-control-label {
          width: 100%;
        }
      }
    }

    .size-filter .size-options li {
      width: 33%;
    }
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);

    &.filter-section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
    }
  }
}
