.product-spotlight {
  // background: $white;
  align-items: center;

  .product-image {
    text-align: center;
    position: relative;
    max-width: 330px;

    .badge-sale {
      font-size: $font-size-larger;
      position: absolute;
      top: $spacer;
      left: $spacer;
    }
  }

  .product-details {
    padding: ($spacer * 2) $spacer;
  }
}