.product-teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: 0.25s ease;
  overflow: hidden;
  background: $white;
  padding: ($spacer / 2) $spacer;

  .product-badge {
    font-size: 100%;
    position: absolute;
    top: $spacer;
    left: $spacer;
  }

  .btn {
    margin-top: $spacer * 0.5;
  }

  .product-image {
    margin-bottom: $spacer;
    display: flex;
    justify-content: center;
  }

  .product-title {
    font-size: $font-size-larger;
    font-weight: bold;
    margin-bottom: $spacer * 0.5;
  }

  .product-details {
    font-size: $font-size-larger;

    .price {
      font-weight: bolder;
      color: $primary;
      margin-bottom: $spacer * 0.5;
    }
    .color-options {
      margin-top: $spacer;
    }

    .visible-hover {
      display: none;
    }
  }

  .product-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($white, 0.85);
    opacity: 0;
    transform: translateY(1rem);
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &:focus,
  &:hover {
    box-shadow: $box-shadow-lg;

    .product-options {
      transform: translateY(0);
      opacity: 1;
    }
  }
}