ul.size-options {
  @include list-style-none();
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 ($spacer * -0.5) 0;

  .size-option {
    font-size: $font-size-larger * (12 / 16);
    line-height: 2;
    display: block;
    background: $gray-200;
    margin: 0 ($spacer / 2) ($spacer / 2) 0;
    padding: 0 $spacer;
    text-align: center;

    &.selected {
      background: $primary;
      color: $white;
    }
  }

  li:last-child .size-option {
    margin-right: 0;
  }

  a.size-option {
    text-decoration: none;
    color: $body-color;

    &:hover {
      background: $primary-lighter;
      color: $white;
    }

    &.selected {
      background: $primary;
      color: $white;
    }
  }
}