.star-rating {
  @include list-style-none();
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: red;
    background: url("~images/icons/icons-star-grey.png") no-repeat scroll 0 0 transparent;

    &.star {
      background-image: url("~images/icons/icons-star-gold.png");
    }
  }

  &.star-rating-selector {
    li {
      cursor: pointer;
    }
  }
}

.form-group .star-rating {
  padding-top: 0.25rem;

  li {
    transition: filter 0.25s ease;

    &:hover,
    &:focus {
      filter: brightness(80%);
    }
  }
}

.modal.show .star-rating {
  @include list-style-none();
}