.user-teaser {
  display: flex;
  flex-direction: column;
  text-align: center;

  .user-image {
    img {
      max-width: 72px;
      border-radius: 50%;
    }
  }

  .user-details {
    flex: 1;
    font-family: $font-family-copy;
    font-weight: $font-weight-copy;

    .user-name {
      font-weight: bold;
      font-size: $font-size-larger;
      margin-bottom: $spacer * 0.5;
    }

    p {
      max-width: none;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    text-align: left;

    .user-image {
      padding-right: $spacer * 1.5;
    }  

    .user-details {
      padding-right: $spacer;
    }
  }
}