.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $font-family-display;

  small {
    font-size: 100%;
    font-style: italic;
  }

  + .subtitle {
    margin-top: -$spacer * 1.5;
    margin-bottom: $spacer * 1.5;
    font-weight: normal;
    color: $primary;
  }
}

p {
  max-width: 36em;
}

.text-center p,
p.text-center {
  margin-left: auto;
  margin-right: auto;
}

.large {
  font-size: $font-size-lg;
}

.h4,
h4 {
  text-transform: uppercase;
}
