@mixin remove-gutter() {
  margin-left: -15px;
  margin-right: -15px;
}

@mixin center-content($width) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Mixin to remove bullets from a list.
 *
 * This includes a hack to replace the bullet image with a transparent one in
 * order to cover a bug in IE/Edge (https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load).
 */ 
@mixin list-style-none() {
  list-style: none;
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
}