$font-size-larger: 1rem;

$font-family-display: "Playfair Display", serif;
$font-family-copy: "Open Sans", sans-serif;
$font-weight-copy: 300;

$primary-lighter: #ff5a81;
$primary-darker: #f5164b;