#page-index {
  .page-header {
    padding: $spacer ($spacer * 2.5) ($spacer * 0.5);
    background: $white;
    margin-bottom: $spacer * 2;

    h1 {
      line-height: 1.1;
      hyphens: manual;
      margin-bottom: 0;
    }
  }

  .demo-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: -$spacer * 1.5;

    .demo-link {
      flex: 1;
      display: block;
      margin-right: $spacer * 1.5;
      text-align: center;
      background: none no-repeat scroll center center $white;
      background-size: cover;
      text-decoration: none !important;
      border: 5px solid $white;
      margin-bottom: $spacer * 1.5;
      box-shadow: $box-shadow-sm;

      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 240px;

      animation-name: noanimation;
      animation-iteration-count: infinite;
      animation-timing-function: step-end;
      animation-duration: 2.5s;
      animation-delay: -0.25s;

      transition: border-color 0.25s ease, box-shadow 0.25s ease;

      h3 {
        margin: 0;
        transition: transform 0.25s ease;
      }

      &.demo-link-landing {
        background-image: url("~images/screenshots/landing-page-1.png");

        &:hover {
          animation-name: landing-page-images;
        }
      }

      &.demo-link-catalog {
        background-image: url("~images/screenshots/catalog-page-1.png");

        &:hover {
          animation-name: catalog-page-images;
        }
      }

      &.demo-link-blog {
        background-image: url("~images/screenshots/blog-page-1.png");

        &:hover {
          animation-name: blog-page-images;
        }
      }

      &:hover {
        border-color: $link-hover-color;
        box-shadow: $box-shadow-lg;

        h3.btn-primary {
          transform: scale(1.5);
          background-color: $link-hover-color;
          border-color: $link-hover-color;
        }
      }
    }
  }

  .technologies-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -($spacer * 1.5);

    > div {
      flex: 1;
      margin: 0 ($spacer * 1.5) ($spacer * 1.5) 0;
      padding: ($spacer * 1.5);
      background: none no-repeat scroll center center transparent;
      background-size: cover;

      min-width: 240px;
      min-height: 240px;
      max-width: 320px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      transition: background 0.3s ease;

      &.tech-html5 {
        background-image: url("~images/icons/html5.png");
      }

      &.tech-css3 {
        background-image: url("~images/icons/css3.png");
      }

      &.tech-bootstrap4 {
        background-image: url("~images/icons/bootstrap4.png");
      }

      &.tech-jquery {
        background-image: url("~images/icons/jquery.png");
      }

      &.tech-webpack {
        background-image: url("~images/icons/webpack.png");
      }

      &.tech-npm {
        background-image: url("~images/icons/npm.png");
      }

      &.tech-docker {
        background-image: url("~images/icons/docker.png");
      }

      &.tech-sass {
        background-image: url("~images/icons/sass.png");
      }

      &.tech-autoprefixer {
        background-image: url("~images/icons/autoprefixer.png");
      }

      &.tech-nodejs {
        background-image: url("~images/icons/nodejs.png");
      }

      h4,
      P {
        text-align: center;
        color: $white;
        opacity: 0;
        transition: transform 0.25s ease;
      }

      h4 {
        transform: translateX(-2rem);
      }

      p {
        transform: translateX(2rem);
        font-size: $font-size-sm;
      }

      &:hover,
      &:focus {
        background: $primary;

        h4,
        P {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  #footer {
    .user-teaser {
      p {
        max-width: 36em;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .demo-links {
      flex-direction: row;
    }
  }
}

@keyframes noanimation { }

@keyframes landing-page-images {
  0%, 100% {
    background-image: url("~images/screenshots/landing-page-1.png");
  }
  33% {
    background-image: url("~images/screenshots/landing-page-2.png");
  }
  66% {
    background-image: url("~images/screenshots/landing-mobile.png");
  }
}

@keyframes catalog-page-images {
  0%, 100% {
    background-image: url("~images/screenshots/catalog-page-1.png");
  }
  33% {
    background-image: url("~images/screenshots/catalog-page-2.png");
  }
  66% {
    background-image: url("~images/screenshots/catalog-mobile.png");
  }
}

@keyframes blog-page-images {
  0%, 100% {
    background-image: url("~images/screenshots/blog-page-1.png");
  }
  33% {
    background-image: url("~images/screenshots/blog-page-2.png");
  }
  66% {
    background-image: url("~images/screenshots/blog-mobile.png");
  }
}