#page-catalog {
  #menswear-categories {
    background: url("~images/photos/images-modal4.png") no-repeat scroll 0 0 $gray-500;
    background-size: cover;
    min-height: 336px;

    .card-body {
      padding: ($spacer * 2) ($spacer * 3);
      line-height: 1.5;
      font-size: 1rem;

      ul {
        list-style: none;
        padding: 0;
        max-width: 90%;

        a {
          font-weight: bolder;
          color: $white;

          &:focus,
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  #brand-spotlight {
    background: url("~images/photos/images-shoe2.png") no-repeat scroll center center #ddd;
    background-size: cover;
    min-height: 312px;
    display: flex;
    align-items: center;

    > .container {
      padding: 0 45% ($spacer * 1.5) ($spacer * 3);
    }
  }
}